*{
  padding: 0;
  margin: 0;
  
}
body{
  background: #000;
  color: #fff;
  
}
header{
  text-align: center;
  font-size: 100px;
}
.wrapper{
  width: 1000px;
  height: 500px;
  margin: 50px auto 0;
}

.grid{
  float: left;
  width: 300px;
  height: 460px;
  margin: 20px 15px;
}
.grid svg line{
  stroke-width: 10;
  stroke:#eee;
}