body{
  background:#F7F4E4;
}

figure{
  width: 50%;
  margin: 8vh auto;
  max-width: 80vh;
}

figure #shade{
  fill: rgba(0,0,0,0.05)
}

figure #sea{
  fill:#9BC4EB;
}

figure #light{
  fill:white;
}
figure #ghost{
  fill:rgba(255,255,255,0.3)
}
figure #land{
  fill:#8B9C52;
}